{% extends 'base.html.jinja' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock title %}</h1>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/filepond.min.css') }}">
{% endblock header %}

{% block content %}
  <div id="file_list" style="display:none;">{{request.form['photo']}}</div>
  <form method="post" enctype="multipart/form-data">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <input type="file" name="photo" id="photo" value="{{ request.form['photo'] }}" >
    <input type="submit" value="Save">
  </form>
  <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
  <script defer type="text/javascript" src="{{ url_for('static', filename='javascript/filepond.min.js') }}"></script>
  <script defer type="text/javascript" src="{{ url_for('uploads.uploaded_javascript', jsfile='blog_create.js') }}"></script>
{% endblock content %}