{% extends 'base.html.jinja' %}

{% block header %}
  <h1>{% block title %}Edit "{{ data['post']['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    <label for="title">Title</label>
    <input name="title" id="title"
      value="{{ request.form['title'] or data['post']['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] or data['post']['body'] }}</textarea>
      {% if request.form['photo'] %}
        Actual File:
        <img style="max-width: 100px;" src="{{ url_for('uploads.uploaded_file', filename= request.form['photo'] or data['post']['photo']) }}">
        <span onclick="alert('Soon !')">Remover Foto</span>
      {% else %}
        {% if data['post']['photo'] %}
          Actual File:
          <img style="max-width: 100px;" src="{{ url_for('uploads.uploaded_file', filename= request.form['photo'] or data['post']['photo']) }}">
          <span onclick="alert('Soon !')">Remover Foto</span>
        {% else %}
          <input type="file" name="photo" value="{{ data['img_path'] }} {{ request.form['photo'] or data['post']['photo'] }}" >
        {% endif %}
      {% endif %}
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=data['post']['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
