{% extends 'base.html.jinja' %}

{% block header %}
  <h1>{% block title %}Edit "{{ data['post']['title'] }}"{% endblock %}</h1>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/filepond.min.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='javascript/filepond.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('uploads.uploaded_javascript', jsfile='blog_update.js') }}"></script>
{% endblock %}

{% block content %}
  <div style="display: none;" id="file_list">{{ request.form['photo'] or data['post']['photo'] }};</div>
  <form method="post" enctype="multipart/form-data">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] or data['post']['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] or data['post']['body'] }}</textarea>
    <input type="file" name="photo" class="filepond--input" id="photo">
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=data['post']['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
